<section class="about-us">
  <div class="container">
    <h2 class="about-us-title">About us</h2>
    <h2 class="about-us-title3">
      We have been creating furniture for your comfort for over 5 years
    </h2>
    <div class="about-us-wrapper">
      <p class="about-us-text">
        We are a team of professionals who can produce any furniture for your
        project, as well as find a production solution for any idea.
      </p>
      <p class="about-us-text">
        Our main goal is to implement the most daring ideas, and to do it
        efficiently and accurately.
      </p>
      <p class="about-us-text">
        We use natural materials – glass, wood, concrete, stone, metal and epoxy
        resin.
      </p>
    </div>

    <div class="about-us-wrap">
      <h3 class="about-us-title2">1 years</h3>
      <p class="about-us-text2">guarantees for all products</p>
      <h3 class="about-us-title2">300+</h3>
      <p class="about-us-text2">completed projects</p>
      <h3 class="about-us-title2">15 days</h3>
      <p class="about-us-text2">production period</p>
    </div>
  </div>
</section>
