<section class="footer-section">
  <div class="container">
    <div class="footer-wrapper">
      <p class="footer-text">Privacy Policy</p>
      <p class="footer-text">Payment and delivery</p>
      <p class="footer-text">ALL RIGHTS RESERVED</p>
      <p class="footer-text">&copy;2025 AVEJI</p>
    </div>
    <div class="footer-socials">
      <a
        href="https://instagram.com"
        class="social-link"
        target="_blank"
        rel="noopener noreferrer"
        >INSTAGRAM</a
      >
      <a
        href="https://t.me"
        class="social-link"
        target="_blank"
        rel="noopener noreferrer"
        >TELEGRAM</a
      >
    </div>
  </div>
</section>
