<header id="header" class="header">
  <div class="container">
    <a href="./index.html" class="logo">Dyson</a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html#advantages" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#baner" class="nav-link">Delivery and payment</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#categories" class="nav-link"
            >Product Registration</a
          >
        </li>
        <li class="nav-item">
          <a href="./index.html#faq" class="nav-link">Service</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#feedback" class="nav-link">Feedback</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#news" class="nav-link">News</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#opinion" class="nav-link">Opinion</a>
        </li>
        <li class="nav-item">
          <a href="./index.html#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
