<section class="header-section" id="header">
  <div class="container">
    <div class="header-wrapper">
      <img class="logo" src="./img/logo.svg" alt="logo" />
      <nav class="header-nav">
        <button
          class="burger-menu"
          id="burger-menu"
          aria-label="Toggle navigation menu"
          aria-expanded="false"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="header-list" id="header-list">
          <li class="header-item">
            <a href="#header" class="header-link">About us</a>
          </li>
          <li class="header-item">
            <a href="#projects" class="header-link">Projects</a>
          </li>
          <li class="header-item">
            <a href="#about-us" class="header-link">Materials</a>
          </li>
          <li class="header-item">
            <a href="#reviews" class="header-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <a href="tel:+44 999 999 99 99" class="phone-number"
        >+44 (999) 999 99 99</a
      >
    </div>
  </div>
</section>
