<section class="hero">
  <div class="container">
    <h1 class="hero-title">Exclusive and custom furniture for home</h1>
    <div class="hero-wrapper">
      <p class="hero-text">
        We can produce any furniture for your project and find a production
        solution for any idea.
      </p>
      <h3 class="hero-title2">ORDER A PROJECT</h3>

      <div class="hero-content">
        <img class="hero-img" src="./img/hero.jpg" alt="hero-img" />
        <img class="hero-img2" src="./img/hero2.jpg" alt="hero-img" />
      </div>
    </div>
  </div>
</section>
