<section class="projects-section">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <!-- <div class="projects-container"> -->
    <ul class="projects-list">
      <li class="projects-item">
        <div class="projects-images">
          <img src="./img/projects1.jpg" alt="project" class="projects-img" />
        </div>
        <div class="projects-desc">
          <p class="projects-text">TV stand</p>
          <svg class="projects-icon" width="12" height="12">
            <use href="../img/lineup.svg#icon-arrow"></use>
          </svg>
        </div>
        <a class="link" href="#"></a>
      </li>
      <li class="projects-item">
        <div class="projects-images">
          <img src="./img/projects22.jpg" alt="project" class="projects-img" />
        </div>
      </li>
      <li class="projects-item">
        <div class="projects-images">
          <img
            src="./img/project3.jpg"
            alt="project"
            class="projects-img img-none"
          />
        </div>
      </li>
      <li class="projects-item">
        <div class="projects-images">
          <img
            src="./img/project4.jpg"
            alt="project"
            class="projects-img img-none"
          />
        </div>
      </li>
      <li class="projects-item">
        <div class="projects-images">
          <img
            src="./img/project5.jpg"
            alt="project"
            class="projects-img img-none"
          />
        </div>
      </li>
      <li class="projects-item">
        <div class="projects-images">
          <img
            src="./img/project6.jpg"
            alt="project"
            class="projects-img img-none"
          />
        </div>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</section>
