<section class="projects-section">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-container">
      <ul class="projects-list">
        <li class="projects-item">
          <div class="projects-images">
            <img src="./img/projects1.jpg" alt="project" class="projects-img" />
          </div>
          <div class="projects-desc">
            <p class="projects-text">TV stand</p>
            <svg class="projects-icon" width="12" height="12">
              <use href="./img/lineup.svg#icon-arrow"></use>
            </svg>
          </div>
          <a class="link" href="#"></a>
        </li>
        <li class="projects-item">
          <div class="projects-images">
            <img src="./img/projects2.jpg" alt="project" class="projects-img" />
          </div>
          <!-- <div class="projects-desc">
            <p class="projects-text">TV stand</p>
            <svg class="projects-icon" width="12" height="12">
              <use href="./img/lineup.svg#icon-arrow"></use>
            </svg>
          </div>
          <a class="link" href="#"></a> -->
        </li>
      </ul>
    </div>
  </div>
</section>
