<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
  </div>
  <ul class="reviews-list">
    <li class="reviews-item">
      <article class="reviews-card">
        <div class="reviews-card-icon">
          <img src="../img/quotes.svg" alt="quote" class="reviews-card-img" />
        </div>
        <h3 class="reviews-card-title">Michel Antonois</h3>
        <p class="reviews-card-text">
          I contacted Aveji on recommendation. The team immediately understood
          what design I wanted. They provided several options and made sketches
          within a week. I liked the result, everything is top notch.
        </p>
      </article>
    </li>
    <li class="reviews-item">
      <article class="reviews-card">
        <div class="reviews-card-icon">
          <img src="../img/quotes.svg" alt="quote" class="reviews-card-img" />
        </div>
        <h3 class="reviews-card-title">Helga Shvekins</h3>
        <p class="reviews-card-text">
          After a couple of orders from Aveji, I was convinced that I would only
          go to them for furniture from now on. Absolutely any solutions, in any
          size and form factor, that's what you need!
        </p>
      </article>
    </li>
    <li class="reviews-item">
      <article class="reviews-card">
        <div class="reviews-card-icon">
          <img src="../img/quotes.svg" alt="quote" class="reviews-card-img" />
        </div>
        <h3 class="reviews-card-title">Arkady Makarov</h3>
        <p class="reviews-card-text">
          Aveji are true professionals. They quickly understood my idea,
          designed, agreed on and manufactured the furniture. And then they even
          assembled everything on site for free. Thank you very much!
        </p>
      </article>
    </li>
  </ul>
</section>
