<section class="steps-section">
  <div class="container">
    <h2 class="steps-title">How we work</h2>
    <p class="steps-text">
      Algorithm for working with us for convenience and understanding of the
      project
    </p>
    <div class="steps-wrapper">
      <h3 class="steps-title2">Idea</h3>
      <p class="steps-text2">
        The client comes to us with an idea. It can be an image/sketch or
        another reference. And we think about how to implement it, make
        technical drawings and offer solutions for materials.
      </p>
      <div class="line"></div>
      <h3 class="steps-title2">Technical task</h3>
      <p class="steps-text2">
        The client comes to us with an idea. It can be an image/sketch or
        another reference. And we think about how to implement it, make
        technical drawings and offer solutions for materials.
      </p>
      <div class="line"></div>
      <h3 class="steps-title2">Commercial offer</h3>
      <p class="steps-text2">
        We prefer to use natural materials. But we can optimize any estimate by
        simplifying materials or design. We can adjust to the client's budget
        and agree on a commercial offer.
      </p>
      <div class="line"></div>
      <h3 class="steps-title2">Preparation of a working project</h3>
      <p class="steps-text2">
        We will create working documentation and drawings. This is the
        foundation of high-quality production. At this stage, we approve all
        dimensions and materials, drawings with the client and begin production.
      </p>
      <div class="line"></div>
      <h3 class="steps-title2">Production and installation</h3>
      <p class="steps-text2">
        Production takes from 15 working days, depending on the complexity and
        volume. We also do the installation ourselves. After all, we will do it
        quickly and accurately.
      </p>
      <div class="line"></div>
    </div>
  </div>
</section>
