.about-us {
  width: 342px;
  margin-bottom: 48px;
}

.about-us-title {
  color: #212529;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us-text {
  display: flex;
  gap: 16px;
  width: 328px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
