.reviews-section {
  margin-bottom: 48px;
}
.reviews-title {
  color: #212529;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
}
.reviews-card-title {
  color: #212529;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
  text-align: center;
}
.reviews-card-text {
  color: #212529;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 278px;
  height: 154px;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 26px;
}
.reviews-item {
  width: 343px;
  /* height: 200px; */
  flex-shrink: 0;
  border: 1px solid #000;
  background: #fff;
  margin-left: 16px;
}
.reviews-card-icon {
  margin-left: 156px;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 32px;
}
.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  .reviews-section {
    margin-bottom: 120px;
  }
  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
  .reviews-card-icon {
    width: 40px;
    margin-left: 203px;
    margin-top: 40px;
    margin-bottom: 32px;
  }
  .reviews-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 42px;
  }
  .reviews-item {
    width: 445px;
    height: 327px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #fff;
    margin-left: 16px;
  }
  .reviews-card-title {
    color: #212529;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
    text-align: center;
  }
  .reviews-card-text {
    color: #212529;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 365px;
    height: 110px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 64px;
  }
}
