.steps-section {
  margin-bottom: 53px;
}
.steps-title {
  color: #212529;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
}
.steps-text {
  display: flex;

  width: 342px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 20px;
}
.line {
  width: 343px;
  height: 1px;
  background: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.steps-title2 {
  color: #212529;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
}
.steps-text2 {
  display: flex;
  width: 342px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (min-width: 1440px) {
  .steps-section {
    margin-bottom: 136px;
  }
  .steps-title {
    color: #212529;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
  }
  .steps-text {
    display: flex;
    width: 325px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 44px;
    margin-left: 695px;
    margin-top: -50px;
  }
  .steps-wrapper {
    margin-left: 695px;
  }
  .steps-text2 {
    display: flex;
    width: 329px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    justify-content: flex-end;
    margin-left: 352px;
    margin-top: -54px;
  }
  .line {
    width: 679px;
    height: 1px;
    background: #000;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .steps-title2 {
    color: #212529;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
    width: 328px;
  }
}
